html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 120px;
    overflow: auto;
}

.homepage {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* Hide scrollbar */
.homepage::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* allow inner scrolling */
}