.layoutHeader {
    display: flex;
    align-items: center;
    padding: 10px 20px !important;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: transparent !important;
}

@media (max-width: 768px) {
    .layoutHeader {
        padding: 0px !important;
    }
}

.navbar a {
    color: #cbbcbc;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.navbar-toggler {
    border: none !important;
    color: #cbbcbc !important;
}

.logo {
    max-width: 80px;
    height: auto;
    pointer-events: none;
}

.language-toggle-button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 16px !important;
    cursor: pointer;
    padding: 0;
}

.language-toggle-button:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}