.project-card {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}


.project-image {
    flex: 0 0 50%;
    position: relative;
    overflow: hidden;

}

.project-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30, 42, 68, 0.5);
    z-index: 1;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.project-image:hover::before {
    background-color: transparent;
}

.project-img {
    max-height: 250px;
    object-fit: cover;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    border-radius: 8px;
}

.project-image:hover .project-img {
    opacity: 1;
}

.project-content {
    color: #d3d3d3;
    max-width: 65%;
    width: 100%;
    padding: 1rem;
    position: absolute;
    top: 55%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.featured-label {
    color: #fff;
    padding: 0rem 0.9rem;
    font-size: 0.9rem;
    font-family: 'Emitha', 'Arial', sans-serif;
    margin-bottom: 0.3rem;
    text-align: right;
    display: block;
    text-transform: uppercase;
}

.project-title {
    text-align: right;
    padding: 0rem 0.9rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 0.5rem;
    font-family: 'Emitha', 'Arial', sans-serif;
}

.project-details {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 1.1rem;
    padding-bottom: 0.4rem !important;
    border-radius: 8px;
    position: relative;
}

.project-description {
    font-size: 1.1rem;
    line-height: 1.3;
    color: #fff;
}

.project-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}

.tech-stack {
    display: flex;
    justify-content: flex-end;
    gap: 0.8rem;
    flex-wrap: wrap;
}

.tech-item {
    color: #d3d3d3;
    font-size: 0.9rem;
    font-weight: 500;
}

.project-links {
    display: flex;
    padding-right: 1rem;
    z-index: 1000;
}

.link-item {
    color: #00BFFF;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: -10px;
    margin-left: 10px;
}

.link-item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

@media (max-width: 768px) {
    .project-card {
        flex-direction: column;
        text-align: center;
    }

    .project-image {
        flex: 0 0 100%;
    }

    .project-content {
        flex: 0 0 100%;
    }

    .project-title {
        font-size: 1.5rem;
    }

    .project-description {
        font-size: 1rem;
    }

    .tech-stack,
    .project-links {
        justify-content: center;
    }
}