.social-sidebar {
    position: fixed;
    top: 75%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px;
    background: transparent;
    z-index: 1000;
    margin-left: 75px;
}

.social-sidebar a svg {
    width: 23px;
    height: 23px;
    transition: transform 0.3s ease;
    fill: #cbbcbc;
}

.social-sidebar a:hover svg {
    transform: scale(1.2);
}

.sidebar-line {
    width: 2px;
    height: 120px;
    background-color: #cbbcbc;
    margin: 10px auto 0;
    border-radius: 1px;
    opacity: 0.7;
}